.dragon {
    position: relative;
    width: 200px;
    height: 140px;
    animation: zoomIn 0.5s cubic-bezier(0.47, 0, 0.75, 0.72) infinite alternate;
  }
  
  .body {
    position: absolute;
    background: url(body.png) no-repeat center center;
    background-size: contain;
    width: 180px;
    height: 128px;
  }
  
  .mouth {
    position: absolute;
    top: 55px;
    left: 30px;
    width: 78px;
    height: 56px;
    background: url(mouth.png) no-repeat;
    background-size: 100%;
    animation: openMouth 1s ease infinite;
  }
  
  @keyframes openMouth {
    0% {
      clip-path: ellipse(20% 0% at 50% 0);
    }
  
    50% {
      clip-path: ellipse(100% 100% at 50% 0);
    }
  
    70% {
      clip-path: ellipse(100% 100% at 50% 0);
    }
  
    100% {
      clip-path: ellipse(20% 0% at 50% 0);
    }
  }
  
  .eye {
    background: url(eye.png) no-repeat;
    background-size: 100%;
    width: 11px;
    height: 11px;
    z-index: 15;
  }
  
  .left-eye {
    position: absolute;
    top: 37px;
    left: 32px;
  }
  
  .right-eye {
    position: absolute;
    top: 37px;
    left: 92px;
    transform-origin: 50% 50%;
    transform: rotate(180deg);
  }
  
  .blush {
    width: 15px;
    height: 9px;
    background: url(blush.png) no-repeat;
    background-size: 100%;
    z-index: 10;
    animation: blush 0.5s ease infinite alternate;
  }
  
  @keyframes blush {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .left-blush {
    position: absolute;
    top: 45px;
    left: 27px;
  }
  
  .right-blush {
    position: absolute;
    top: 45px;
    left: 94px;
  }
  
  .fire-container {
    position: absolute;
    top: 50px;
    left: 50px;
    animation: fireUp 1s ease-in infinite;
  }
  
  .fire {
    width: 40px;
    height: 60px;
    background: url(fire.png) no-repeat;
    background-size: 100%;
    animation: fire 1s ease-out infinite;
  }
  
  @keyframes fire {
    0%,
    20% {
      transform: scale(0, 0);
      opacity: 0.8;
    }
  
    50% {
      opacity: 0.8;
    }
  
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  
  @keyframes fireUp {
    0% {
      top: 70px;
    }
  
    20% {
      top: 70px;
    }
  
    100% {
      top: -80px;
    }
  }
  
  .dragon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
  }
  
  .tail {
    position: absolute;
    top: 67px;
    left: 120px;
    width: 40px;
    height: 38px;
    background: url(tail-sting.png) no-repeat;
    background-size: 100%;
    animation: tailUp 0.5s cubic-bezier(0.47, 0, 0.75, 0.72) infinite alternate;
  }
  
  @keyframes tailUp {
    0% {
      transform: scaleY(0.9);
    }
  
    100% {
      transform: scaleY(1.06);
    }
  }
  
  .left-horn {
    position: absolute;
    top: -18px;
    left: 10px;
    width: 31px;
    height: 31px;
    background: url(horn-left.png) no-repeat;
    background-size: 100%;
    transform-origin: 150% 200%;
    transform: rotate(-5deg);
    animation: swingRight 0.5s cubic-bezier(0.47, 0, 0.75, 0.72) infinite
      alternate;
  }
  
  .right-horn {
    position: absolute;
    top: -16px;
    left: 95px;
    width: 34px;
    height: 31px;
    background: url(horn-right.png) no-repeat;
    background-size: contain;
    transform-origin: -50% 200%;
    transform: rotate(5deg);
    animation: swingLeft 0.5s cubic-bezier(0.47, 0, 0.75, 0.72) infinite alternate;
  }
  
  @keyframes swingRight {
    100% {
      transform: rotate(5deg);
    }
  }
  
  @keyframes swingLeft {
    100% {
      transform: rotate(-5deg);
    }
  }
  
  @keyframes zoomIn {
    100% {
      transform: scale(1.16, 1.16);
    }
  }
  