body {
    font-family: sans-serif;
  }
  body {
    background: url('background.jpg') no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }
  
  h1 {
    color: white;
    background-color: black;
  }

  /* Include the padding and border in an element's total width and height */
  * {
    box-sizing: border-box;
  }
  
  #todoList {
    width: 60%;
    min-width: 400px;
    margin: 20px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  /* Remove margins and padding from the list */
  ul {
    margin: 0;
    padding: 0;
  }
  
  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  /* Darker background-color on hover */
  ul li:hover {
    background: #ddd;
  }

  /* Style the close button */
  .close {
    position: absolute;
    right: 1px;
    top: 0;
    width: 50px;
    padding: 12px 16px 12px 16px;
    height: 100%;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }
  
  /* Style the header */
  .header {
    background-color: #3F888F;
    padding: 30px 40px;
    color: white;
    text-align: center;
  }
  
  .inputWrapper {
    display: flex;
    font-size: 16px;
  }
  
  /* Style the input */
  input {
    margin: 0;
    width: 400px;
    padding: 10px;
    background-color: #3f888f;
    border: 1px solid white;
    border-right: none;
    color: white;
    outline: none;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
  /* Style the "Add" button */
  .addBtn {
    background-color: #3F888F;
    color: white;
    cursor: pointer;
    transition: 0.6s;
    border: 1px solid white;
    padding: 10px 20px;
    width: 25%;
    cursor: pointer;
    border-radius: 0;
  }
  
  .addBtn:hover {
    background-color: white;
    color: #3f888f;
  }

.hidden {
  visibility: hidden;
}